<h3>Add new product form</h3>

<% if flash[:notice] %>
  <%= render 'flash_msg-failed' %>
<% end %>

<div class="row">
  <div class="col-md-4">
    <%= render 'products_form' %>
  </div>
</div>

<%= link_to 'Go Back', products_path %>
<%if @product.reviews.any?%>

      <h3>Reviews for <%= @product.name %></h3>

      <% @product.reviews.each do |review| %>
      <ul>
        <li>
          <%= link_to review.author, product_review_path(@product, review) %>
        </li>
      </ul>
      <% end %>
      <% else %>
      <p>No current reviews. Be the first and leave a review!</p>
      <% end %>
